Practica1/P1
Practica2/a
Practica2/output/matrix.txt
Practica2/output/p2
Practica2/Result.txt
Practica2/output/Result.txt
.vscode/settings.json
Fase3/a
Fase3/result.csv
Practica5/a
Practica6/Hola
Practica6/SumaMatrices-1.cu
